DEVICE=cpu

ROUTER_LORA_DIR=weights/router_model_final
ROUTER_EFFICIENTNET_PATH=weights/router_efficientnet.pt

FRUIT_MODEL_PATH=weights/fruit_efficientnet.pt
SEVERITY_MODEL_PATH=weights/efficientnetb4_spandan.pth
LEAF_MODEL_PATH=weights/efficientnetb0_astha.pt
FLOWER_MODEL_PATH=weights/yolo26m_abhirami.pt
